{% extends 'profile/baseProfile.html.twig' %}

{% block title %}{{ 'Add collection'|trans }}{% endblock %}

{% block profileTitle %}
    <h1>{{ 'New collection'|trans }}</h1>
{% endblock %}

{% block profileContent %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

