{% extends 'user/profile/baseProfile.html.twig' %}

{% block title %}{{ ownCollection.name }}{% endblock %}

{% block profileTitle %}
    <h1>{{ 'Collection'|trans }}: {{ ownCollection.name }}</h1>
    {% if app.user == you %}
        <a class="link-secondary" href="{{ path ('add_item', {ownCollectionId: ownCollection.id}) }}">
            <i class="bi bi-plus-circle"></i>
        </a>
    {% endif %}
{% endblock %}

{% block profileContent %}
    {% if app.user %}
        {{ render_esi(url('list_items', {ownCollectionId: ownCollection.id})) }}
    {% endif %}
{% endblock %}

