<table class="table">
    <tr>
        <th>{{ 'Collection name'|trans }}</th>
        <th>{{ 'Author'|trans }}</th>
        <th>{{ 'Collection theme'|trans }}</th>
    </tr>
{% for collection in allCollections %}
    <tr>
        <td>
            <li class="nav-item d-flex justify-content-between align-items-center">
                <a class="nav-link" href="{{ path('view_own_collection', {id: collection.id}) }}">
                    {{ collection.name }}
                </a>
            </li>
        </td>
        <td>
            {{ collection.author.name }}
        </td>
        <td>
            {{ collection.collectionTheme.name }}
        </td>
    </tr>
{% endfor %}
</table>